* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #050b1a;
  color: white;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
